<h3>DeepCover Results</h3>

<%= render_partial 'graph', {:graph_name => 'deep_cover'} %>

<p>
</p>

<p>
<a href="../../../deep_cover/index.html" target="deep_cover">Results</a>
</p>

<table>
  <tr>
    <th>branches_executed</th>
    <th>branches_not_executed</th>
    <th>branch_percent</th>
    <th>nodes_executed</th>
    <th>nodes_not_executed</th>
    <th>node_percent</th>
    <th>chars_executed</th>
    <th>chars_not_executed</th>
    <th>char_percent</th>
  </tr>
  <tr>
    <td><%= @deep_cover[:branches_executed] %></td>
    <td><%= @deep_cover[:branches_not_executed] %></td>
    <td><%= @deep_cover[:branch_percent] %></td>
    <td><%= @deep_cover[:nodes_executed] %></td>
    <td><%= @deep_cover[:nodes_not_executed] %></td>
    <td><%= @deep_cover[:node_percent] %></td>
    <td><%= @deep_cover[:chars_executed] %></td>
    <td><%= @deep_cover[:chars_not_executed] %></td>
    <td><%= @deep_cover[:char_percent] %></td>
  </tr>
</table>

<!-- table>
  <tr>
    <th>File Path</th>
    <th>Severity</th>
    <th>Message</th>
    <th>Cop</th>
  </tr>
  <% count = 0 %>
  <% if @deep_cover['examples'] %>
    <% @deep_cover['examples'].each do |example| %>
      <% if example['status'] != 'passed' %>
        <tr>
          <td><%= link_to_filename(example['file_path'], example['line_number']) %></td>
          <td><%= example['status'] %></td>
          <td><%= example['description'] %></td>
          <td><%= example['full_description'] %></td>
        </tr>
        <tr>
          <td><%= 'Exception' %></td>
          <td><%= example['exception']['class'] %></td>
          <td><%= example['exception']['message'] %></td>
          <td>
            <% if example['exception']['backtrace'] %>
              <%= example['exception']['backtrace'].reject{|x| x =~ %r(\.rvm) }%>
            <% end %>
          </td>
        </tr>
        <% count += 1 %>
      <% end %>
    <% end %>
  <% end %>
</table -->

<%= render_partial 'report_footer' %>
