<h3>Reek Results</h3>

<p><a href="http://github.com/troessner/reek">Reek</a> detects common code smells in ruby code.</p>

<%= render_partial 'graph', {:graph_name => 'reek'} %>

<script type="text/javascript">
  var ascs = [1, 1, 1, 1];

  function sort_table(tbody, col) {
    var asc = ascs[col];
    for(i = 0; i < ascs.length; i++){
      if (col === i) {
        ascs[i] *= -1;
      }
      else {
        ascs[i] = 1;
      }
    }
    var rows = tbody.rows, rlen = rows.length, arr = [], i, j, cells, clen;
    // fill the array with values from the table
    for(i = 0; i < rlen; i++){
      cells = rows[i].cells;
      clen = cells.length;
      arr[i] = [];
      for(j = 0; j < clen; j++){
        arr[i][j] = cells[j].innerHTML;
      }
    }
    // sort the array by the specified column number (col) and order (asc)
    arr.sort(function(a, b){
      return (a[col] === b[col]) ? 0 : a[col].localeCompare(b[col], undefined, {numeric: true, sensitivity: 'base'}) === 1 ? asc : -1*asc;
    });
    for(i = 0; i < rlen; i++){
      arr[i] = "<td>"+arr[i].join("</td><td>")+"</td>";
    }
    tbody.innerHTML = "<tr>"+arr.join("</tr><tr>")+"</tr>";
  }

  function toggle_smell(smell) {
    var smells = document.getElementsByClassName(smell);
    for (var i = 0; i < smells.length; i++) {
      if (smells[i].style.display === 'none') {
        smells[i].style.display = 'table-row';
      }
      else {
        smells[i].style.display = 'none';
      }
    }
  }

  function legend_clicked() {
    toggle_smell(event.srcElement.innerHTML);
  }

  function setup_legend_toggles() {
    var legendItems = document.getElementsByClassName('highcharts-legend-item');
    for (i = 0; i < legendItems.length; i++) {
      var item = legendItems[i];
      item.addEventListener('click', function() { legend_clicked(); } );
    }
  }
  document.addEventListener('graph_loaded', setup_legend_toggles);

</script>

<table>
  <tr>
    <th onclick="sort_table(document.getElementById('the-table'), 0);">File Path</th>
    <th onclick="sort_table(document.getElementById('the-table'), 1);">Method</th>
    <th onclick="sort_table(document.getElementById('the-table'), 2);">Description</th>
    <th onclick="sort_table(document.getElementById('the-table'), 3);">Type</th>
  </tr>
  <tbody id="the-table">
  <% count = 0 %>
  <% @reek[:matches].each do |match| %>
    <% match[:code_smells].each do |smell| %>
      <tr class='<%= cycle("light", "dark", count) %> <%= smell[:type] %>'>
        <td><%= link_to_filename(match[:file_path], smell[:lines][0]) %></td>
        <td>
          <%= smell[:method] %>
        </td>
        <td>
          <%= smell[:message] %>
        </td>
        <td>
          <%= smell[:type] %>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= render_partial 'report_footer' %>
